/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#calendar_basic {
  height: 200px;
}

.panel-default {
  border-radius: 5px;
}

.panel-default >.panel-heading {
  background-color: #64476E;
  color: white;
  opacity: 0.5;
  border-radius: 5px;
  border: none;
}
