<div id="donutchart" style="height: 200px"></div>

<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<script type="text/javascript">
  //google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Age', 'Interventions'],
      ['18-25', 11],
      ['26-30', 25],
      ['31-40', 14],
      ['41-60', 7],
      ['61 & +', 2]
    ]);

    var options = {
      title: "Participation par âge",
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
