<h1 class="text-center">Concertation Loi Travail</h1>
<div class="col-xs-12 col-sm-6 box-hover-shade">
  <%= render 'pages/stats_by_map' %>
</div>
<div class="col-xs-12 col-sm-6 box-hover-shade">
  <%= render 'pages/donut_chart' %>
</div>
