<!-- <h2 class="text-center">Concertation Loi Travail</h2> -->
<div class="panel panel-default" style="margin-top: 20px;">
  <div class="panel-heading">
    <h3 class="panel-title">Charts</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 box-hover-shade">
      <%= render 'pages/calendar_chart' %>
    </div>
    <div class="col-xs-12 col-sm-6 box-hover-shade">
      <%= render 'pages/stats_by_map' %>
    </div>
    <div class="col-xs-12 col-sm-6 box-hover-shade">
      <%= render 'pages/donut_chart' %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Informations générales</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li>Date de lancement de la consultation : 01/05/2016</li>
      <li>Date de clôture de la consultation : 01/06/2016</li>
      <li></li>
    </ul>
  </div>
</div>
