.card-white {
  background-color: white;
  height: 70px;
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    font-size: 14px;
  }
}

.box-hover-shade {
  margin: 20px 0px;
  &:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }
}
