<div id="lateral-navbar" class="text-center">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-filter">0 Ouverts</button>
    <button type="button" class="btn btn-filter active">1 Fermés</button>
  </div>
  <div class="card-white">
    <img src="http://placehold.it/100" class="avatar-large">
    <div class="card-content">
      <h5>Concertation Title</h5>
      <p>10 participant</p>
    </div>
  </div>
</div>
