<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="http://res.cloudinary.com/dsxxfzioe/image/upload/v1465562971/logo_mmq59r.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">DEMOCRACY OS</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">SE CONNECTER</a>
  </div>
</div>
